<div class="nav-bar fixed-top">
  <ul>
        <li class="nav-item">
                <%= link_to "OpenSea", "ttps://opensea.io/collection/w-club", class: "nav-link" %>
        </li>

        <li class="nav-item">
            <%= link_to "Discord", "https://discord.com/invite/6KyYkuQSyW", class: "nav-link" %>
        </li>

        <li class="nav-item">
            <%= link_to "Twitter", "#", class: "nav-link" %>
        </li>
        
        <li class="nav-item">
            <%= link_to "Instagram", "#", class: "nav-link" %>
        </li>
        
   </ul>

</div>

<div class="centered">
<h1>
The W Club
</h1>
<p class="line"></p>__  __   __</p>

<h2 id="typingHeadline"> 
</h2>

<h3>
No more than 8888 words will ever be minted. Everyday, new words are publicly released on OpenSea, at random times, at a fixed equal price of 0.002 ETH (no gas fee, stored on Polygon).
</h3>

<p>
They are available as a 'First-come-first-served' basis.
</p>

<div class="container">
    <div class="row">
             <div class="col-sm-8 col-md-6">
                <a href=" https://opensea.io/collection/w-club" class="btn btn-dark" >Acquire your Ws <br>on OpenSea</a>
     </div>
            <div class="col-sm-4 col-md-6">
                <a href="https://discord.com/invite/6KyYkuQSyW"class="btn btn-dark">Join <br>the Discord</a>
            </div>

    </div>
</div>


<p class="line">
__  __   __
</p>

<p>
Distribution: maximum supply of 8888 words.
</p>


<p>
- 1000 words are given away for free to the first 100 wembers (this is how W club members are called).
- 5 Wnfts to each wember:
- 2 when entering the club
3rd one to be deposited on October 15th, 2021
4th one to be deposited on December 15th, 2021
5th one to be deposited on February 15th, 2022
</p>

<p>
- 1000 words are reserved to grow the project: reward active wembers, reward developers that grow the W ecosystem, attract new partners, host giveaways etc...
</p>

<p>
- 6888 words will be released at an equal fixed price of 0.002 ETH (no gas fee, stored on Polygon).
</p>

<p>
Roadmap: The 8888 words will be minted and released everyday, at random times, between September 8th 2021 to April 14th 2022.
</p>

</div>

<div class="footer">
  <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Contact@thewclub.com
  </div>
</div>


<script>
    var i = 0;
    var txt = 'The W club is just words. Make them yours.'; /* The text */
    var speed = 89; /* The speed/duration of the effect in milliseconds */
    var hold = 1000
    function typeWriter() {
        if (i == txt.length) {
            document.getElementById("typingHeadline").innerHTML = ""
            i = 0
        }
        if (i < txt.length) {
            document.getElementById("typingHeadline").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, i == txt.length ? hold : speed);
        } 
    }
    typeWriter()
</script>