/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media (max-width: 450px) {
    .typed-headline {
        font-size: 1.1em;   
        text-align: center;
    }
 }

 @media (max-width: 700px) {
    .typed-headline {
            font-size: 1.2em;   
            text-align: center;
    }
    h3 {
        font-size: 1.1em;
    }

    body {
        margin:15px
    }

    .footer-copyright{
        margin-right: -40px;
        font-size: 13px;
    }

    .ola{
        margin-top: -10px;
    }
}

 @media (min-width: 1080px) {
    .typed-headline {
        font-size: 2em;   
        text-align: center;
    }
 }